@font-face {
    font-family: ShareTech;
    src: url(ShareTech-Regular.ttf);
}

h1 {
    text-align: center;
    background-color: #004643;
    font-family: ShareTech;
    color:#faf4d3;
    margin: -8px;
    padding: 9px;
}

body {
    background-color: #faf4d3;
    color:#0c1618;
    font-family: ShareTech;
}

.redText {
    color:red;
}

.class {
    border-style: dotted;
    border-color: #004643;
    border-width: 15px;
    padding: 2%;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 5px;
    display:inline-block;
}

.green {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 5px;
    display:inline-block;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    display:inline-block;
}